*.class
**/target/*
*/activemq-data/*
target/*

# Eclipse
*.classpath
*.project
org.eclipse.*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!lib/*.jar
*.car

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
.idea
